@font-face {
  font-family: "TT Lakes";
  src: url(../assets/fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: "TT Lakes Light";
  src: url(../assets/fonts/TTLakes-Light.ttf);
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(../assets/fonts/TTLakes-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #F8F8F8;

}


/* Header */

.brend-wrapper {
  max-width: 278px;
  margin: 0 auto;
  overflow: hidden;
}

.brend-text {
  position: relative;
  right: 0;
  font-family: "TT Lakes Light";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-bottom: 32px;
  text-transform: uppercase;
  border-top: 1px solid #D9FFF5;
  margin-top: 40px;
}

.brend-img {
  max-width: 108px;
  max-height: 52px;
}

.brend-item {
  row-gap: 16px;
}

svg {
  width: 40px;
  height: 40px;
}

.brend-list {
  display: none;
}

.swiper {
  width: 200px;
  height: 100px;
}


.swiper-horizontal,
.swiper-initialized,
.swiper-backface-hidden {
  position: relative !important;
  left: -39px;
  width: 200px;
  overflow: visible !important;
}

.swiper-wrapper {
  width: 200px !important;
}

.swiper-slide-active {
  margin-right: 20px;
}


.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.swiper-scrollbar {
  display: none;
}

.swiper-slide {
  width: 500px;
  height: 72px !important;
  box-sizing: border-box;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: white;
}

.fade {
  z-index: 100;
  display: flex;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
  content: '';
  position: absolute;
  top: 0;
  right: -79px;
  width: 24px;
  height: 72px;
}


.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD !important;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC !important;
}

.main__button {
  display: none;
}

.btn {
  cursor: pointer;
}

@media (min-width: 768px) {
  .brend-wrapper {
      max-width: 720px;
  }
  .brend-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 16px;
  }
  .brend-item {
      min-width: 224px;
      min-height: 86px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-radius: 6px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      box-sizing: border-box;
  }
  .brend-item:nth-child(n+7) {
      display: none;
  }
  .brend-list.visible .brend-item:nth-child(n+7) {
      display: flex;
  }
  .main__button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 24px;
      gap: 16px;
  }
  .btn {
      font-family: "TT Lakes Medium";
      font-size: 14px;
      line-height: 24px;
      background: none;
      border: none;
      text-align: left;
  }
  .more {
      width: 7px;
      height: 10px;
  }
  .swiper {
      display: none !important;
  }
}

@media (min-width: 1120px) {
  .brend-wrapper {
      max-width: 1056px;
  }
  .brend-item {
      display: flex;
      flex-wrap: wrap;
  }
  .brend-item:nth-child(n+10) {
      display: flex;
  }
  .brend-list.visible .brend-item:nth-child(10) {
      display: flex;
  }
  .swiper {
      display: none !important;
  }
}